@font-face {
	font-family: "Maiandra GD";
	src: url("MaiandraGD.ttf") format("truetype");
}


html, body {
	background-color: #727272;
	font-family: Maiandra GD, sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 500px;
	min-height: 700px;
}

main {
	width: 100%;
	background-color: #e0f7fa;
}

.nav-wrapper {
	background-color: #00bcd4;
}

.brand-logo {
	padding-left: 16px !important;
}

.button-collapse {
	padding-left: 16px !important;
}

#regnav {
	padding-right: 16px !important;
}

.titlename {
	font-size: 3em;
	letter-spacing: 0px;
	line-height: 1.1em;
}

.nobullets {
	list-style: none;
}

.tsawl {
	font-size: 25pt;
	font-family: Arial !important;
}

#page-content-div {
	padding-top: 40px;
	padding-bottom: 40px;
}

#fab {
	display: none;
}

.foot {
	background-color: #727272;
	font-size: 10pt;
	box-sizing: border-box;
	color: #eeeeee;
	text-align: center;
	padding: 30px;
	bottom: 0px;
}
