body {
	background-color: #e0f7fa;
}

.nav-wrapper {
	background-color: #00bcd4;
}

.brand-logo {
	padding-left: 16px !important;
}

.button-collapse {
	padding-left: 16px !important;
}

#regnav {
	padding-right: 16px !important;
}

