@font-face {
  font-family: "PapyrusTR";
  src: url("PAPYRUS.TTF") format("truetype");
}

@font-face {
  font-family: "Maiandra";
  src: url("MaiandraGD.ttf") format("truetype");
}

@font-face {
  font-family: "Nyala";
  src: url("nyala.ttf") format("truetype");
}

html, body { 
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #367294;
  background-color: #51a6d6;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #5F22BF;
}

a:hover {
  color: #876f57;
}

ul.nobullets {
  list-style: none;
}

ul.lindent, ol.lindent {
  padding-left: 8%; !important;
  font-size: 1.2em;
}

.cheesy, .smiley, .grin, .wink {
  width: auto;
  height: auto;
}

#header {
  width: 80%;
  margin-left:10%;
  height: 400px;
  background-image: url("jakeney.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; 
  background-color: #203179;
}

#brand {
  text-align: left;
  padding-left: 40px;
  vertical-align: middle;
  white-space: nowrap;
  overflow-x: scroll;
  font-family: PapyrusTR;
  font-size: 5em;
  color: #00b3ff;
  text-shadow: 
    -1px -1px 6px #680dde,
     1px -1px 6px #680dde,
    -1px  1px 6px #680dde,
     1px  1px 6px #680dde;
}

#tagline {
  font-family: Georgia, serif;
  font-size: 1.2em;
  text-align: left;
  padding-left: 70px;
  color: #797e35;
  color: #a0a64e;
  text-shadow:
    -1px -1px 6px #000000,
     1px -1px 6px #000000,
    -1px  1px 6px #000000,
     1px  1px 6px #000000;
}

#navbar {
  position: absolute;
  display: block;
  background-color: #797e35;
  background-color: #a0a64e;
  width: 80%;
  margin-left: 10%;
}

#navbar ul {
  list-style: none;
  margin: 0;
}

#navbar ul li {
  display: inline;
  float: left;
  text-align: center;
}

.active {
  background-color: #d6dee0;
  background-color: #dae080;
}

#navbar ul li a {
  font-family: Maiandra;
  color: #1b1b19;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 20px 20px 20px 20px;
}

#navbar ul li a:hover {
  background-color: #d6dee0;
  background-color: #dae080;
}

#main {
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 100%;
  background-color: #6494a8;
  background-color: #8ac3db;
}

#main h1, #main h2, #main h3, #main p { 
  margin-left: 4%;
  margin-right: 4%;
  font-family: Verdana;
  color: #1b1b19;
}

#main h1 {
  font-family: Maiandra;
  font-size: 3em;
  padding-top: 40px;
}

#main h2 {
  font-family: Maiandra;
}

#main h3 {
  font-family: Maiandra;
}

#main p {
  font-size: 1.5em;
  font-family: Nyala;
}

#main blockquote {
  padding-left: 2%;
  font-size: 1.25em;
  font-family: Nyala;
}

#main table {
  padding-left: 6%;
  font-size: 1.25em;
}

#main ul {
  padding-left: 6%;
  margin: 0px;
}

#main ul li {
  font-family: Nyala;
  font-size: 1.5em;
}

#main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ptitle {
  text-align: center;
}

div.img {
  display: table-cell;
  position: relative;
  margin: 20px;
  height: 200px;
  width: 200px;
  float: left;
  text-align: center;
  background-color: #d6dee0;
  background-color: #92b6bc;
  background-color: #84d7fa;
}

div.img span {
  position: relative;
  font-family: Maiandra, sans-serif;
  font-weight: bold;
  top: 50px;
  font-size: 5em;
  color: #441177;
}

div.desc {
  position: relative;
  vertical-align: text-bottom;
  font-weight: normal;
  top: 66px;
  width: 100%;

}

#main div#tabcont {
  display: table;
  padding: 4%;
}

#tabcont a {
  font-family: Georgia, serif;
  color: #bb4400;
}

.navi {
  color: #AED95F;
  font-weight: bold;
  font-family: PapyrusTR,fantasy;
}

.red {
  color: #a22a22;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: #0100ca;
}
.purple {
  color: purple;
}
.violet {
  color: violet;
}
.cyan {
  color: cyan;
}
.turquoise {
  color: turquoise;
}
.deepskyblue {
  color: deepskyblue;
}
.magenta {
  color: magenta;
}
.brown {
  color: brown;
}
.cnga {
  color: #FFD633;
}
.cnavi {
  color: #4D94FF;
}
.ctaron {
  color: #0066FF;
}
.cyu {
  color: #00B8E6;
}
.civ {
  color: #4D94FF;
}
.lime {
  color: lime;
}

.big {
  font-size: 2.25em;
}

.bold {
  font-weight: bold;
}

.vtr {
  color: #8303FF;
  font-weight: bold;
}
.vin {
  color: lime;
  font-weight: bold;
}
.ag {
  color: cyan;
  font-weight: bold;
}
.tp {
  color: burlywood;
  font-weight: bold;
}
.ac {
  color: orchid;
  font-weight: bold;
}
.adj {
  color: peachpuff;
  font-weight: bold;
}

.gdocblue {
  color: #4D90FE;
}
