body { 
  background-color: lightblue;
}

#header {

}

#menu {

}

#nav {

}

.navitem {

}

#stitle {
  color: navy;
}

#stag {
  color: orange;
}

#main {

}

h1 {

}

p {
  color: red;
}

#pagetitle {

}

#footer {

}
